@{
    ViewData["Title"] = "Home Page";
}

<script src="https://unpkg.com/vue">

</script>



<div id="app">
    <h1>{{Header1}}</h1>
    <button v-on:click="showNewPostForm">New Post</button>
    <br />
    <button v-on:click="toggleP" v-if="showPostList">{{HideToggleText}}</button>
    <button v-on:click="toggleP" v-if="!showPostList">{{ShowToggleText}}</button>
    <div class="newPostForm" v-if="showNewPost">
        <h3>New Post</h3>
        <span>Title</span>
        <input v-model="newPost.title" />
        <span>Body</span>
        <input v-model="newPost.body" />
        <button v-on:click="submitNewPost">Submit</button>
    </div>
    <transition name="fade">
        <div v-if="showPostList" class="postList">
            <ul>
                <post v-for="entry in posts"
                      :entry="entry"
                      :key="entry.title">
                </post>
            </ul>
        </div>
    </transition>

</div>


<script src="~/js/Home.js" type="module">
</script>
