ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
footer {
    position: fixed;
    bottom: 0;
}
#characterBuilder {
    display: grid;
    grid-template-columns: 300px 1fr;
}
#characterSheet {
    column-span: 2;
}
.fullWidth {
    grid-column-start: 1;
    grid-column-end: end;
}
#playerInfoBar {
    display: grid;
    grid-template-columns: 1fr 150px;
}
.switchPlayer {
    cursor: pointer;
    padding: 20px;
    display: inline-block;
}
#playerSelection {
    position: absolute;
    right: 15px;
    background-color: gainsboro;
    border: 1px solid black;
}
.playerSelectItem {
    border-bottom: 1px solid black;
    padding: 5px 20px;
    cursor: pointer;
}
.playerSelectItem:hover {
    background-color: cornsilk;
}