@{
    ViewData["Title"] = "Home Page";
}

<script src="https://unpkg.com/vue">

</script>

<div id="app" v-bind:title="title">
    <h1 v-bind:id="app">{{ Header1 }}</h1>
    <p v-on:click="console.log('test')" v-if="visiblePTag">asdfasdfasdf</p>
</div>

<script src="~/js/Home.js"></script>


