@{
    ViewData["Title"] = "Home Page";
}

<script src="https://unpkg.com/vue">

</script>

<div id="app">
    <h1 v-bind:id="app">{{ Header1 }}</h1>
    <span v-on:click="toggleP" v-if="visiblePostList">{{HideToggleText}}</span>
    <span v-on:click="toggleP" v-if="!visiblePostList">{{ShowToggleText}}</span>
    <transition name="fade">
        <div v-if="visiblePostList" >
            <ul>
                <li v-for="post in posts">
                    <h2>{{post.title}}</h2>
                    <p>{{post.body}}</p>
                </li>
            </ul>
        </div>
    </transition>
</div>
<p>test</p>
<script src="~/js/Home.js"></script>


