@{
    ViewData["Title"] = "Home Page";
}

<div id="characterBuilder">
    <transition name="fade">
        <div class="fullScreenWrapper" v-if="fullPageVisible">
            <div class="fullScreenInsert">

            
            <h2>{{fullPageMessage}}</h2>
                <div class="buttonWrapper">
                        <span v-for="option in fullPageOptions"
                            v-on:click="option.callback"
                            class="genericButton">
                            {{option.text}}
                        </span>
                </div>
            </div>
        </div>
       
        <div v-if="sheetVisible" id="characterSheet">
            <div id="playerInfoBar" class="fullWidth">
                <div>
                    <h3>{{selectedPlayer}}</h3>
                </div>
                <div>
                    <span v-on:click="visiblePlayerList=!visiblePlayerList" class="switchPlayer">Switch</span>
                    <div v-if="visiblePlayerList" id="playerSelection">
                        <ul>
                            <li v-for="player in players"
                                v-on:click="GetPlayerCharacters(player)"
                                class="playerSelectItem">
                                {{player.playerName}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fullWidth">
                <h2>Character Name: test</h2>
            </div>
            <div id="creationSidebar">
                @Html.Partial("_sidebar");
            </div>

            @Html.Partial("_splash");
        </div>
    </transition>
</div>
<script src="~/js/characterWizard.js"></script>
