@{
    ViewData["Title"] = "Home Page";
}

<div id="characterBuilder">
    <div class="fullWidth">
        <h2>Character Name: test</h2>
    </div>
    <div id="creationSidebar">
        <h1>Creation Steps</h1>
        <ul>
            <li v-for="item in creationItems">
                <h2>{{item.title}}</h2>
                <p>{{item.body}}</p>
            </li>
        </ul>
    </div>
    <transition name="fade">
        <div id="creationChecklist" v-if="visibleCheckList">
            <h1 v-bind:id="checklistHeader">Pick an option or <span>Seek Guidance</span></h1>
            <h2 v-on:click="startCreationWizard">Seek Guidance</h2>
            <ul>
                <li v-for="item in creationItems">
                    <h2>{{item.title}}</h2>
                    <p>{{item.body}}</p>
                </li>
            </ul>
        </div>
    </transition>
</div>
<p>test</p>
<script src="~/js/Home.js"></script>


